.header
  margin-top: 20px
  margin-bottom: 20px
  &-wrapper
    background: linear-gradient(180deg, #FFFFFF 0%, #FFF9F9 100%)
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05)
    border-radius: 100px
    padding: 20px 10px 20px 50px
    display: flex
    align-items: center
    justify-content: space-between
  &-logo
    a
      color: #5B5B5B
      font-size: 24px
      font-weight: 600
      letter-spacing: 0.05em
      text-transform: uppercase
  &-nav
    &__item
      letter-spacing: 0.05em
      text-transform: uppercase
      font-weight: 600
      color: #5B5B5B
      margin-right: 50px
      &:last-child
        margin-right: 0

